
<div class="homepage-container">
  <a id="home"> </a>
</div>
<div class="wholesale-container">
  <a id="wholesale"> </a>
</div>
<div class="about-container">
  <a id="about"> </a>
</div>
<div class="contact-container">
  <a id="contact"> </a>
</div>
