<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @name %>,</p>
    <p>Thank you for reaching out to Jolie. One of our team members will respond to your request shortly. Thank you.</p>
    <p>Have a great day!</p>
    <p>Best regards,</p>
    <p>The Jolie Team</p>
  </body>
</html>
