<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>JOLIE</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand"><a data-scroll href="#home" class="navbar-link">JOLIE</a></li>
        <li><a data-scroll href="#wholesale" class="navbar-link">Wholesale</a></li>
        <li><a data-scroll href="#about" class="navbar-link">About</a></li>
        <li><a data-scroll href="#contact" class="navbar-link">Contact</a></li>
      </ul>
    </div> <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <button type="button" id="menu-toggle" data-target="#menu-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= yield %>
      </div>
    </div>
      <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->
<%= javascript_include_tag 'application' %>
</body>
</html>

